In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import requests
import json

# Import API key
#from api_keys import g_key
g_key="AIzaSyDMdAs0OoYfkwJR_c4WZIFS1HBPMnXWVsI"

In [3]:
#import df from part 1
file_to_load="../output_data/cities.csv"
weather_data = pd.read_csv(file_to_load)
weather_data.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jamestown,1,US,1579716774,62,42.10,-79.24,35.01,8.05
1,1,waddan,0,LY,1579716774,47,29.16,16.14,55.11,9.46
2,2,qaanaaq,1,GL,1579716774,51,77.48,-69.36,-11.87,7.61
3,3,rikitea,0,PF,1579716774,80,-23.12,-134.97,78.06,12.53
4,4,grants,75,US,1579716775,56,35.15,-107.85,42.80,13.87

In [4]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [5]:
# Store 'Lat' and 'Lng' into  locations 
locations = weather_data[["Lat", "Lng"]].astype(float)
humidity = weather_data['Humidity'].astype(float)

# Create a humidity Heatmap layer
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
new_cities = (weather_data['Max Temp']<80)&(weather_data['Max Temp']>70)&(weather_data['Wind Speed']<10)&(weather_data['Cloudiness']==0)
new_cities.head() 

weather_data[new_cities]

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
450,450,malpe,0,IN,1579717054,69,13.35,74.72,78.80,3.36
538,538,guerrero negro,0,MX,1579717084,40,17.67,-100.00,72.66,1.70

In [7]:
hotel_df=weather_data[new_cities]
hotel_df['Hotel Name'] = ""
hotel_df

C:\Users\cmboo\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
450,450,malpe,0,IN,1579717054,69,13.35,74.72,78.80,3.36,
538,538,guerrero negro,0,MX,1579717084,40,17.67,-100.00,72.66,1.70,

In [8]:
#find google geocoordinates (latitude and longitude)
target_city1 = "Malpe, India"

params = {"address": target_city1, "key": g_key}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

print("Geocoordinates for Malpe, India")

# Run request
response = requests.get(base_url, params=params)

# print the response URL, avoid doing for public GitHub repos in order to avoid exposing key
# print(response.url)

# Convert to JSON
malpe_geo = response.json()

# Extract lat/lng
lat1 = malpe_geo["results"][0]["geometry"]["location"]["lat"]
lng1 = malpe_geo["results"][0]["geometry"]["location"]["lng"]

# Print results
print(f"{target_city1}: {lat1}, {lng1}")

Geocoordinates for Malpe, India
Malpe, India: 13.3554792, 74.70444250000001

In [9]:
target_type = "lodging"
malpe_coords = "13.35,74.72"
radius = 8000

# rewrite params dict

params = {
    "location": malpe_coords,
    "types": target_type,
    "radius": radius,
    "key": g_key
}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

print("Closest Hotel in Malpe, India")

# Run request
response = requests.get(base_url, params)

# print the response URL, avoid doing for public GitHub repos in order to avoid exposing key
# print(response.url)

malpe_hotel = response.json()

# Print the JSON (pretty printed)
# print(json.dumps(seattle_bikes, indent=4, sort_keys=True))
hotel_df.loc[450
             ,'Hotel Name'] = malpe_hotel["results"][0]["name"]
        
# Print the name and address of the first bike shop to appear
print(malpe_hotel["results"][0]["name"])
print(malpe_hotel["results"][0]["vicinity"])

Closest Hotel in Malpe, India
Hotel Sri Krishna Residency
Badagupet Road, Thenkpete, Maruthi Veethika, Udupi

C:\Users\cmboo\Anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:494: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [10]:
#find google geocoordinates (latitude and longitude)
target_city2 = "Guerrero Negro, Mexico"

params = {"address": target_city2, "key": g_key}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/geocode/json"

print("Geocoordinates for Guerrero Negro, Mexico")

# Run request
response = requests.get(base_url, params=params)


# Convert to JSON
guerrero_geo = response.json()

# Extract lat/lng
lat2 = guerrero_geo["results"][0]["geometry"]["location"]["lat"]
lng2 = guerrero_geo["results"][0]["geometry"]["location"]["lng"]

# Print results
print(f"{target_city2}: {lat2}, {lng2}")

Geocoordinates for Guerrero Negro, Mexico
Guerrero Negro, Mexico: 27.9591758, -114.056646

In [11]:
target_type = "lodging"
guerrero_coords = "27.96,-114.06"
radius = 5000

# rewrite params dict

params2 = {
    "location": guerrero_coords,
    "types": target_type,
    "radius": radius,
    "key": g_key
}

# Build URL using the Google Maps API
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

print("Closest Hotel in Guerrero Negro, Mexico ")

# Run request
response = requests.get(base_url, params2)

# print the response URL, avoid doing for public GitHub repos in order to avoid exposing key
# print(response.url)

guerrero_hotel = response.json()

# Print the JSON (pretty printed)
# print(json.dumps(seattle_bikes, indent=4, sort_keys=True))
hotel_df.loc[538,'Hotel Name'] = guerrero_hotel["results"][0]["name"]
# Print the name and address of the first bike shop to appear
print(guerrero_hotel["results"][0]["name"])
print(guerrero_hotel["results"][0]["vicinity"])

Closest Hotel in Guerrero Negro, Mexico
Casa Laguna, Bed & Breakfast
Baja California, El Domino, Centro, Guerrero Negro

In [12]:
hotel_df

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
450,450,malpe,0,IN,1579717054,69,13.35,74.72,78.80,3.36,Hotel Sri Krishna Residency
538,538,guerrero negro,0,MX,1579717084,40,17.67,-100.00,72.66,1.70,"Casa Laguna, Bed & Breakfast"

In [16]:
# NOTE: Do not change any of the code in this cell
narrowed_city_df=hotel_df
# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [17]:

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations,
    info_box_content=[f"{rate}" for rate in hotel_info])

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))